@model CityManagementSystem.ViewModel.CityDetailsViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var countryId = Model.CountryId.HasValue ? Model.CountryId.Value : 0;
}

<div class="row">
    <div class="col col-lg-12">
        <h2>View Cities</h2>
        <hr />
    </div>
</div>


<form id="CreateCityDetail">
    <div class="input-group">
        <input type="text" id="searchTxt" name="search" class="form-control" placeholder="Enter your Search" value="@Model.CityName" />

        @if (Model.Countries != null && Model.Countries.Count > 0)
        {
            <select class="form-control" name="CountryId" id="selectCountry">
                <option value="0" disabled selected>
                    Select Country
                </option>
                @foreach (var country in Model.Countries)
                {
                    var selected = country.Id == countryId ? "selected" : string.Empty;
                    <option value="@country.Id" @selected>@country.Name</option>
                }
            </select>
        }

        <div class="input-group-append link-danger" id="button-addon4">
            <button type="button" id="searchBtn" class="btn btn-danger">Search</button>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>SL#</th>
                        <th>City Name</th>
                        <th>About</th>
                        <th>No of Dweller</th>
                        <th>Location</th>
                        <th>Weather</th>
                        <th>Country</th>
                        <th>About Country</th>
                    </tr>
                </thead>

                <tbody>

                    @if (Model.Cities != null && Model.Cities.Count > 0)
                    {
                        foreach (var item in Model.Cities)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.About</td>
                                <td>@item.DwellerNo</td>
                                <td>@item.Location</td>
                                <td>@item.Weather</td>
                                <td>@item.Country.Name</td>
                                <td>@item.Country.About</td>
                            </tr>

                        }
                    }

                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center alert alert-danger">
                                No City data found!!!.
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @if (Model.Pager != null && Model.Pager.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (Model.Pager.CurrentPage == 1)
                        {
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="pageDataLink page-link text-primary" data-href="@Url.Action("Search", "Search", new { pageNo = Model.Pager.CurrentPage - 1, categoryId = Model.CountryId, search = Model.CityName })" style="cursor:pointer">Previous</a>
                            </li>
                        }
                        @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                        {
                            var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;
                            <li class="page-item @active">
                                <a class="pageDataLink page-link" data-href="@Url.Action("Search", "Search", new { pageNo = page, categoryId = Model.CountryId, search = Model.CityName })" style="cursor:pointer">@page</a>
                            </li>
                        }
                        @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                        {
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="pageDataLink page-link text-primary" data-href="@Url.Action("Search", "Search", new { pageNo = Model.Pager.CurrentPage + 1, categoryId = Model.CountryId, search = Model.CityName })" style="cursor:pointer">Next</a>
                            </li>
                        }
                    </ul>
                </nav>
            }

        </div>
    </div>
</div>
<script>
    $("#selectCountry").change(function() {
        $.ajax({
                url: '@Url.Action("Search", "Search")',
                data: {
                    search: $("#searchTxt").val(),
                    countryId: $("#selectCountry").val()
                }
            })
            .done(function(response) {
                $("#ListingTable").html(response);
                //console.log(response);
                //window.location.href = window.location.href;
            })
            .fail(function(XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

    $("#searchBtn").click(function () {
        $.ajax({
                url: '@Url.Action("Search", "Search")',
                data: {
                    cityName: $("#searchTxt").val()
                }
            })
            .done(function (response) {
                $("#ListingTable").html(response);
                //console.log(response);
                //window.location.href = window.location.href;
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");
        $.ajax({
                url: url
            })
            .done(function(response) {
                $("#ListingTable").html(response);
            })
            .fail(function() {
                alert("Fail");
            });
    });

</script>